@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bungee&family=Erica+One&family=Fascinate&family=Londrina+Outline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rubik+Doodle+Shadow&display=swap");

:root {
  --mainColor: #d29719;
  --textColor: #efeeea;
  --auxColor: #273f4f;
  --defaultColor: #000000;

  --font1: "Montserrat", sans-serif;
  --font2: "Erica One", cursive;
  --font3: "Londrina Outline", cursive;
  --font4: "Agbalumo", cursive;
  --font5: "Bungee", cursive;
  --font6: "Fascinate", cursive;
  --font7: "Orbitron", sans-serif;
  --font8: "Rubik Doodle Shadow", cursive;
}

/**AJUSTES GENERALES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--textColor);
}

body {
  min-height: 100dvh;
  min-width: 240px;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--defaultColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.active {
  top: 0;
  left: 0;
  opacity: 1;
}

.logo {
  width: 5em;
  height: 5em;
}

.iconMail {
  width: 30px;
  height: 30px;
}

.logo-socials {
  width: 40px;
  height: 40px;
}

.imgPerfil {
  width: 100%;
}

.btnLink {
  cursor: pointer;
  padding: 0.6em;
  border-radius: 0.2em;
  font-family: var(--font7);
  font-size: 0.8em;
  background-color: var(--mainColor);
  border: 1px solid var(--textColor);
}

.lineBurger {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--mainColor);
  z-index: 3;
  align-self: center;
  justify-self: center;
}

/**HEADER*/
header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  border: none;
  border-bottom: 0.1em inset var(--textColor);
  box-shadow: 0px 1px 5px var(--textColor);
  backdrop-filter: blur(10px) brightness(30%);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0em 0em 0.5em 0.5em;
  z-index: 5;
}

header figure {
  z-index: 2;
}

header nav {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  );
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  font-size: 1.5em;
  font-family: var(--font1);
}

header #burgerMenu {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2em;
  height: 3em;
  z-index: 2;
  display: grid;
  border: none;
  border-radius: 0.2em;
  background-color: transparent;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main section {
  width: 98%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5.5em;
}

main #home {
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/public/bg_gen.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main #home .socials {
  padding: 0.2em;
  width: 95%;
}

main #home .socialsContainer {
  display: flex;
  justify-content: space-around;
}

main #home figure {
  width: 95%;
  height: auto;
  display: grid;
  place-items: center;
  box-sizing: content-box;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  z-index: 0;
  box-shadow: 0px 3px 10px var(--mainColor);
}

main #home figure img {
  filter: brightness(60%);
}

main #home article {
  position: relative;
  width: 100%;
}

main #home article h2 {
  transform: translateY(-2em);
  font-family: var(--font1);
  font-weight: 500;
  font-size: 2em;
  color: var(--mainColor);
}
main #home article h1 {
  transform: translateY(-1.5em);
  font-family: var(--font6);
  font-size: 3em;
}

main #home article p {
  transform: translateY(-3em);
  font-family: var(--font1);
  font-size: 1.5em;
  text-shadow: 0px 0px 5px var(--mainColor);
}

main #home .contentBtn {
  transform: translateY(-2.5em);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  /**HEADER*/
  header {
    position: fixed;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    top: 0;
    z-index: 1;
    border-radius: 0 0 1em 1em;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(10px) brightness(30%);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-bottom: 1px solid var(--textColor);
    box-shadow: 0px 1px 1px var(--textColor);
  }

  header nav {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2em;
  }

  header nav ul {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2em;
    padding: 0.2em;
    box-sizing: content-box;
  }

  header nav ul li {
    width: 8em;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 0.4em;
    padding: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  header nav ul li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font1);
    font-size: 1.6em;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
  }

  header nav ul li:hover a {
    color: var(--mainColor);
  }

  header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--mainColor);
    transition: all 0.3s ease-in-out;
  }

  header nav ul li a:hover::after {
    width: 100%;
  }

  /**MAIN*/
  main {
    width: 100%;
    min-height: 100dvh;
  }

  main section {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main #home {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "socials figure article"
      "socials figure article";
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/public/bg_gen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  main #home .socials,
  main #home figure,
  main #home article {
    width: 100%;
    height: 75%;
    box-sizing: content-box;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main #home .socials {
    grid-area: socials;
    align-items: flex-start;
  }

  main #home .socialsContainer img {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }

  main #home .socialsContainer img:hover {
    filter: grayscale(0%);
  }

  main #home .socials .socialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    padding: 0.5em 0.5em 0.5em 0em;
    border-radius: 0em 0.7em 0.7em 0em;
    background-color: var(--mainColor);
  }

  main #home figure {
    margin-top: 3em;
    position: relative;
    grid-area: figure;
    z-index: 0;
  }

  main #home figure img {
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--mainColor) 0px 0px 10px 2px;
  }

  main #home figure::after,
  main #home figure::before {
    content: "";
    position: absolute;
    top: 7em;
    left: 10em;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    border: 2px solid var(--mainColor);
    box-shadow: var(--mainColor) 0px 0px 10px 2px;
    z-index: -1;
  }

  main #home figure::after {
    transform: rotate(-20deg);
  }

  main #home figure::before {
    transform: rotate(45deg);
  }

  main #home article {
    grid-area: article;
    align-items: flex-start;
    user-select: none;
  }

  main #home article h1 {
    font-size: 7em;
    font-family: var(--font6);
  }

  main #home article h2 {
    font-size: 4em;
    font-weight: 200;
    font-family: var(--font1);
  }
  main #home article p {
    font-size: 2.5em;
    font-weight: 300;
    font-family: var(--font1);
    text-shadow: 0px 0px 5px var(--mainColor);
  }

  main #home article .contentBtn {
    width: 80%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4em;
    margin-top: 4em;
  }

  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr;
    grid-template-areas:
      "banner information socials"
      "fot fot fot";
    color: var(--textColor);
    padding: 0.2em;
    row-gap: 0.5em;
    text-align: center;
  }

  footer h2,
  footer h3 {
    font-size: 1.5em;
    font-weight: 200;
    font-family: var(--font7);
  }

  footer h3 {
    font-size: 1em;
  }

  footer #banner {
    grid-area: banner;
  }

  footer #banner a {
    font-family: var(--font1);
    font-size: 1.5em;
  }

  footer #banner a span {
    color: var(--mainColor);
  }

  footer #information {
    grid-area: information;
    border-left: 1px solid var(--textColor);
    border-right: 1px solid var(--textColor);
  }

  footer #information a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
  }

  footer #information a img {
    width: 1em;
    height: 1em;
  }

  footer #socials {
    grid-area: socials;
  }

  footer #socials img {
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
  }

  footer #copy {
    width: 100%;
    grid-area: fot;
    font-family: var(--font1);
    font-size: 1em;
  }
}
