@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bungee&family=Erica+One&family=Fascinate&family=Londrina+Outline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rubik+Doodle+Shadow&display=swap");

:root {
  --mainColor: #d29719;
  --textColor: #efeeea;
  --auxColor: #273f4f;
  --defaultColor: #000000;

  --font1: "Montserrat", sans-serif;
  --font2: "Erica One", cursive;
  --font3: "Londrina Outline", cursive;
  --font4: "Agbalumo", cursive;
  --font5: "Bungee", cursive;
  --font6: "Fascinate", cursive;
  --font7: "Orbitron", sans-serif;
  --font8: "Rubik Doodle Shadow", cursive;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--font1);
  color: var(--textColor);
}

/**AJUSTES GENERALES**/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  width: clamp(4rem, 10vw, 100px);
}

.logo-socials {
  width: clamp(2rem, 5vw, 60px);
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: content-box;
}

.imgPerfil {
  width: clamp(200px, 70vw, 400px);
  border-radius: 50%;
}

.link-mail {
  font-size: 12px;
}

.iconMail {
  width: 10px;
}

.active {
  top: 0;
  opacity: 1;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 230px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--defaultColor);
}

/*CONFIGURACIONES MOVILE*/

/*Ajustes del header*/
header {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
  background-image: linear-gradient(
    0deg,
    rgba(25515, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0px 2px 5px 0px var(--mainColor);
  border-radius: 0em 0em 0.5em 0.5em;
  backdrop-filter: blur(10px);
  border: none;
}

header figure img {
  z-index: 2;
}

header nav {
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: -100dvh;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8));
}

header nav ul {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

/**CONFIGURACIONES BURGER MENU*/
header #burgerMenu {
  display: grid;
  place-items: center;
  width: 20px;
  height: 40px;
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0.2em;
  background-color: transparent;
}

header #burgerMenu .lineBurger {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--mainColor);
}

/**AJUSTES DE MAIN Y SECTIONS**/

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  border: none;
}

main #home {
  position: relative;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7)),
    url(../public/bg_gen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 75px;
}

main #home .socials {
  display: grid;
  place-items: center;
  width: 100%;
}

main #home .socialsContainer {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

main #home article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  margin-top: -4.5em;
}

main #home article h2 {
  font-family: var(--font1);
  font-weight: 300;
  font-size: 2.5em;
  transform: translateY(-1em);
}

main #home article h1 {
  font-family: var(--font6);
  font-size: 4em;
  transform: translateY(-0.5em);
}

main #home article p {
  font-family: var(--font1);
  font-weight: 200;
  font-size: 2em;
  transform: translateY(-0.8em);
  text-shadow: 0px 5px 10px var(--mainColor);
}

main #home article .contentBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  transform: translateY(-0.5em);
}

main #home article .contentBtn .btnLink {
  padding: 0.5em;
  background-color: var(--mainColor);
  width: clamp(100px, 45%, 300px);
  font-size: 1.1em;
  border-radius: 0.5em;
}

/** CONFIGURACIONES TABLET*/
@media screen and (min-width: 768px) {
  .logo-socials {
    width: 70px;
    height: 70px;
  }

  .imgPerfil {
    width: 350px;
    height: 350px;
    border-radius: 0.1em;
    box-shadow: var(--mainColor) 0px 2px 5px 0px;
  }

  main #home figure {
    position: relative;
    display: grid;
    place-items: center;
    z-index: 1;
  }

  main #home figure::before,
  main #home figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--mainColor);
    border-radius: 0.1em;
    transform: rotate(35deg);
    z-index: -1;
    box-shadow: var(--mainColor) 0px 0px 10px 0px;
    transition: all 0.5s ease-in-out;
  }

  main #home figure::before {
    transform: rotate(20deg);
  }

  main #home figure::after {
    transform: rotate(-45deg);
  }

  main #home article h2,
  main #home article h1,
  main #home article p {
    transform: translateY(0);
  }

  main #home article h2 {
    font-size: 5em;
  }

  main #home article h1 {
    font-size: 7em;
  }

  main #home article p {
    font-size: 3em;
  }

  main #home article .contentBtn {
    transform: translateY(1em);
    font-size: 1.5em;
  }
}

/**CONFIGURACIONES DESKTOP*/
@media screen and (min-width: 1024px) {
  .logo-socials {
    width: 60px;
    height: 60px;
  }

  header {
    width: 90%;
    transition: all 0.5s ease-in-out;
  }

  header:hover {
    box-shadow: var(--textColor) 0px 2px 5px 0px;
  }

  header nav {
    position: relative;
    width: clamp(1000px, 80%, 3000px);
    height: auto;
    top: 0;
    left: 0;
    opacity: 1;
    background: none;
    padding: 0.2em;
  }

  header nav ul {
    flex-direction: row;
    padding: 0.2em;
  }

  header nav ul li {
    height: auto;
    font-size: 1.5em;
    padding: 0.2em;
  }

  header nav ul li a {
    position: relative;
    width: 100%;
    padding: 0.2em;
    width: 5.5em;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  header nav ul li a:hover {
    color: var(--mainColor);
    transform: scale(1.1) translateY(0.2em);
  }

  header nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    transition: width 0.3s ease-in-out;
  }

  header nav ul li a:hover::before {
    width: 100%;
  }

  header #burgerMenu {
    display: none;
  }

  main #home {
    display: grid;
    grid-template-columns: 0.15fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    grid-template-areas:
      "social figure text"
      "social figure text";
  }

  main #home .socials {
    grid-area: social;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }

  main #home .socials .socialsContainer {
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: flex-start;
    row-gap: 1em;
    padding: 0.5em 1em 0.5em 0em;
    border-radius: 0em 0.7em 0.7em 0em;
    background-color: var(--mainColor);
  }

  main #home .socials .socialsContainer a {
    filter: grayscale(1);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
  }

  main #home .socials .socialsContainer a:hover {
    transform: translateX(0.5em) scale(1.1);
    filter: grayscale(0);
    opacity: 1;
  }

  main #home figure {
    grid-area: figure;
    transition: all 0.3s ease-in-out;
  }

  main #home figure img {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease-in-out;
  }

  main #home figure img:hover {
    box-shadow: var(--textColor) 0px 0px 10px 0px;
    transform: scale(1.05);
  }

  main #home figure:hover::before,
  main #home figure:hover::after {
    transform: rotate(0);
    box-shadow: var(--textColor) 0px 0px 10px 0px;
  }

  main #home article {
    grid-area: text;
    height: 100%;
    justify-content: center;
  }

  main #home article h1 {
    font-size: 6.5em;
  }

  main #home article h1,
  main #home article h2,
  main #home article p {
    transform: translateY(0);
  }

  main #home article .contentBtn {
    transform: translateY(3em);
    justify-content: flex-start;
    column-gap: 2em;
  }

  main #home article .contentBtn .btnLink {
    transition: all 0.5s ease-in-out;
    width: clamp(200px, 30%, 400px);
    transform-origin: right;
  }
  main #home article .contentBtn .btnLink:hover {
    transform: scale(1.1) translateY(-0.2em);
    box-shadow: 0px 10px 3px var(--textColor);
    background-color: var(--auxColor);
  }
}
